.item {
  color: #fff;
  background-color: transparent;
  transition: background-color, color ease .4s;
  padding: 10px 8px;
}

.item.active,
.item.active {
  background-color: var(--accent-bg-color);
  color: var(--dark-font-color);
}