:root {
  --dark-bg-color: #252525;
  --accent-bg-color: #f7d76d;
  --grey-bg-color: #262626;

  --dark-font-color: #000;

  --element-padding: 50px 0;
  --sidebar-side-padding: 0 30px;
}

.main {
  display: flex;
  height: 100vh;
}

.sidebar {
  padding: var(--element-padding);
  flex: 0 0 280px;
  background-color: var(--dark-bg-color);
}

.content {
  padding: var(--element-padding);
  flex-grow: 1
}