:root {
  --dark-bg-color: #252525;
  --accent-bg-color: #f7d76d;
  --grey-bg-color: #262626;

  --dark-font-color: #000;

  --element-padding: 50px 0;
  --sidebar-side-padding: 0 30px;
}

.main {
  display: flex;
  height: 100vh;
}

.sidebar {
  padding: var(--element-padding);
  flex: 0 0 280px;
  background-color: var(--dark-bg-color);
}

.content {
  padding: 50px 30px;
  flex-grow: 1;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 90%;
}

.input,
.textarea {
  display: inline-block;
  padding: 4px 6px;
  text-decoration: none;
  border: 1px solid var(--dark-font-color);
  margin-bottom: 20px;
}

.input::placeholder,
.textarea::placeholder {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}